.header__logo {
  max-width: 142px;
  padding-bottom: 41px;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    padding-left: 30px;
  }
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding: 6px 0 32px 30px;
    width: 104px;
  }
}
