.auth_signin {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .auth_signin {
    margin: 20px 0 0 0;
  }
}