.footer {
  margin: 0 auto;
  display: flex;
  max-width: calc(100% - 400px);
  padding: 66px 0 60px 0;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 150px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 38px);
    padding: 48px 0 36px 0;
  }
}