.card__trash {
  background: url(../../../images/Grouptrash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  padding: 0;
  border: 0;
}

.card__trash:hover {
  transition: 0.5s;
  opacity: 0.6;
  cursor: pointer;
}